[submodule "modules/CBM_core"]
	path = modules/CBM_core
	url = https://github.com/PredictiveEcology/CBM_core.git
[submodule "modules/CBM_defaults"]
	path = modules/CBM_defaults
	url = https://github.com/PredictiveEcology/CBM_defaults.git
[submodule "modules/CBM_dataPrep"]
	path = modules/CBM_dataPrep
	url = https://github.com/PredictiveEcology/CBM_dataPrep.git
[submodule "modules/CBM_dataPrep_SK"]
	path = modules/CBM_dataPrep_SK
	url = https://github.com/PredictiveEcology/CBM_dataPrep_SK.git
[submodule "modules/CBM_vol2biomass_SK"]
	path = modules/CBM_vol2biomass_SK
	url = https://github.com/PredictiveEcology/CBM_vol2biomass_SK.git
