on:
  push:
    branches:
      - main
      - development
  pull_request:
    branches:
      - main
      - development

name: testthat-development

jobs:
  testthat-development:
    if: "!contains(github.event.commits[0].message, '[skip-ci]')"
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: 'release'}
          - {os: windows-latest, r: 'devel'}
          - {os: ubuntu-latest,  r: 'release'}
          - {os: ubuntu-latest,  r: 'devel'}
          #- {os: macOS-latest,   r: 'release'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      GOOGLE_AUTH: ${{ secrets.GOOGLE_AUTH }}
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true

    steps:
      - uses: actions/checkout@v4

      - uses: PredictiveEcology/actions/install-spatial-deps@v0.2

      # 2025-01-30: systemfonts R package failed to install due to these missing
      - name: Install extra Linux dependencies
        if: runner.os == 'Linux' && matrix.config.r == 'devel'
        run: |
          sudo apt -y install libfontconfig1-dev
          sudo apt-get install libharfbuzz-dev libfribidi-dev libfreetype6-dev libpng-dev libtiff5-dev libjpeg-dev
        shell: bash

      - uses: r-lib/actions/setup-r@v2
        with:
          extra-repositories: 'https://predictiveecology.r-universe.dev/'
          Ncpus: 2
          r-version: ${{ matrix.config.r }}
          use-public-rspm: false

      - uses: PredictiveEcology/actions/install-Require@v0.2
        with:
          GitTag: 'development'

      - uses: PredictiveEcology/actions/install-SpaDES@v0.2

      - name: Install SpaDES.project
        run: Require::Require("PredictiveEcology/SpaDES.project@development", require = FALSE)
        shell: Rscript {0}

      - name: Install testthat
        run: install.packages("testthat")
        shell: Rscript {0}

      - name: Run testthat
        run: |

          # Authorize Google Drive
          install.packages("googledrive")
          googledrive::drive_auth(path = Sys.getenv("GOOGLE_AUTH"))

          # Test development branches
          options("spades.test.modules" = c(
            CBM_core        = "PredictiveEcology/CBM_core@development",
            CBM_defaults    = "PredictiveEcology/CBM_defaults@development",
            CBM_vol2biomass = "PredictiveEcology/CBM_vol2biomass@development",
            CBM_dataprep_SK = "PredictiveEcology/CBM_dataprep_SK@development"
          ))

          # # Run tests
          # testthat::test_dir("tests/testthat", stop_on_failure = TRUE)

          # 2025-02-13: Run only the SK small test for now
          testthat::test_file("tests/testthat/test-SK-small_t1-1998-2000.R", stop_on_failure = TRUE)

        shell: Rscript {0}

